<!--
  @Author: VU Anh Tuan
  @Date:   2026-01-04 19:45:00
  @Last Modified by:   VU Anh Tuan
  @Last Modified time: 2026-01-04 20:35:07
-->
{% extends "restaurant/base.html" %}

{% block title %}
Little Lemon - Dish
{% endblock %}

{% load custom_filters %}
{% block content %}
<section class="max-w-4xl mx-auto px-6 py-24">
  <!-- Title -->
  <h2 class="text-3xl font-bold text-center mb-12 flex items-center justify-center gap-3 text-primary">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-16">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
    </svg>
    {{ dish.name|trim }}
  </h2>

  <!-- Dish Card -->
  <div class="bg-white rounded-2xl p-10 shadow-lg hover:shadow-xl transition-shadow duration-300">
    <div class="flex justify-between items-center mb-6">
      <h3 class="text-2xl font-semibold text-primary">
        {{ dish.name|trim }}
      </h3>
      <span class="text-xl font-bold text-primary">
        {{ dish.price }}€
      </span>
    </div>

    <p class="text-gray-600 leading-relaxed mb-8">
      {{ dish.description|trim }}
    </p>

    <!-- Back link -->
    <div class="mt-10 text-center text-primary font-semibold">
      ←
      <a href="{% url 'restaurant:menu' %}" class="inline-block menu-link hover:font-bold">
        Back to menu
      </a>
    </div>
  </div>
</section>
{% endblock %}